SECRET_KEY= #For avoiding annoying notification for gitguardian, I used env file to store secret key. use https://djecrety.ir/ to generate secrete key
DEBUG= #Must be either True or False, use True for development environment